<navigation></navigation>

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-12">
			<form ng-submit="vm.onSubmit()">
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
        <h2 class="text-center">Login to Pacemaker</h2>
        <div class="form-group">
          <div class="input-group">
          	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          	<input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
          	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          	<input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Login!</button>
        <div class="h4">
					<p>Not a member? <a href="/#register?page={{ vm.returnPage }}">Register</a> first.</p>
	      </div>
      </form>
		</div>
	</div>
	<footer-pacemaker></footer-pacemaker>
</div>