<navigation></navigation>
<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-10">
				<h2 class="text-center">Carbon Credit Calculator</h2>
				<h3>Cycle, walk, or run to work instead of using your car and reduce your carbon footprint. View potential carbon credit value.</h3>
			</div><!-- col-sm-10 end -->
			<div class="col-sm-2">
			<img src="img/save_planet.jpg"><br>
			<a href='http://www.freepik.com/free-vector/save-the-planet_773730.htm' target="blank">Freepik</a>
			</div><!-- col-sm-2 end -->
		</div><!-- row end -->
	</div><!-- jumbotron end -->
	<div class="row">
		<section class="col-sm-6 co2_saving">
			<h2 class="text-center">CO2 Savings</h2>
			<p class="text-center">{{vm.co2_savings}}</p>
		</section>
		<section class="col-sm-6 co2_value">
			<h2 class="text-center">Carbon Credit Value</h2>
			<p class="text-center">{{vm.co2_value}}</p>
		</section>
	</div>
	<div class="row">
		<form class="col-sm-4 co2_form">
			<h4 class="text-center">Distance</h4>
			<p class="text-center">kilometers</p>
			<div class="form-group">
				<input class="form-control" ng-change="vm.calculate()" ng-model="vm.current_distance" type="number" ng-value="{{vm.current_distance}}">
			</div>
		</form>
		<form class="col-sm-4 co2_form">
			<h4 class="text-center">Emissions</h4>
			<p class="text-center">CO2 Band</p>
			<div class="form-group">
			<select class="form-control" ng-change="vm.calculate()" ng-model="vm.current_co2_band" ng-options="o as o for o in vm.co2_band_options">
			</select>
			</div>
		</form>
		<form class="col-sm-4 co2_form">
			<h4 class="text-center">Carbon Credit Value</h4>
			<p class="text-center">€/tonne</p>
			<div class="form-group">
				<input class="form-control" type="number" ng-change="vm.calculate()" ng-model="vm.current_co2_value" ng-value="{{vm.current_co2_value}}">
			</div>
		</form>
	</div><!-- row end -->
	<footer-pacemaker></footer-pacemaker>
</div><!-- container end -->
